* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 10vh;
    width: 100vw;
    z-index: 1;
}
#esquerda {
    background-image: url(imgs/Strange\ Harbors\ Film\ Review\ Avengers\ Endgame.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
    width: 50vw;
    position: relative;
    left: 0;
}

#caixa {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#direita {
    background-color: #f70606;
    position: relative;
    right: 0;
    width: 100%;
}

#marvel{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
}

.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 1s linear;
    opacity: 1;
    visibility: visible;
  }
  
  .desaparecido {
    opacity: 0 !important;
    visibility: hidden !important;
  }
  
  .backdrop video {
    width: 100%;
  }
